            .product {
                flex: 4;
                padding: 20px;
            }
            
            .productTitleContainer {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .productAddButton {
                width: 80px;
                border: none;
                padding: 5px;
                background-color: teal;
                color: white;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
            }
            
            .productTop {
                display: flex;
            }
            
            .topLeft,
            .topRight {
                flex: 1;
            }
            
            .topRight {
                padding: 20px;
                margin: 20px;
            }
            
            .productInfoImg {
                width: 40px;
                height: 40px;
                margin-right: 20px;
                border-radius: 50%;
                object-fit: cover;
            }
            
            .productInfoTop {
                display: flex;
                align-items: center;
            }
            
            .productName {
                font-weight: 600;
            }
            
            .productInfoButton {
                margin-top: 10px;
            }
            
            .productInfoItem {
                width: 150px;
                display: flex;
                justify-content: space-between;
            }